.header
    .wrapper
      a.logo ayo
      nav.navigation
        .mobile
          .toggle-nav(title="Show Menu")
            div.bar
            div.bar
            div.bar
          ul.nav
            li
              a Shop
            li
              a View Options
            li
              a FAQ
            li
              a Contact
        .desktop
          ul.nav
            li
              a Contact
            li
              a F A Q
            li
              a Options
            li
              a Shop

