.header
    .wrapper
      a(href="/").logo ayo
      nav.navigation
        .mobile
          .toggle-nav(title="Show Menu")
            div.bar
            div.bar
            div.bar
          ul.nav
            li
              a(href="/customize") Create Yours
            li
              a(href="/shop") Shop
            li
              a(href="/faq") FAQ
            li
              a(href="/contact") Contact
        .desktop
          ul.nav
            li
              a(href="/contact") Contact
            li
              a(href="/faq") F A Q
            li
              a(href="/shop") Shop
            li
              a.action(href="/customize") Create Yours

