extends shared/layout


block content
  .wrapper
    h1 Contact

    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque ab cupiditate reprehenderit voluptatum aperiam quasi fuga omnis perferendis libero laborum doloribus qui sunt enim cumque accusantium asperiores iste, ducimus!
