extends shared/layout

block content
  section.hero.fullpage
    .wrapper
      .row
        .col.w16
          h1 wolf single-origin coffee
          h3 Umami wayfarers plaid, organic art party pork belly trust fund migas iPhone heirloom before they sold out. Shoreditch Vice locavore trust fund, 3 wolf moon sartorial.
        .col.w8
          img.example-image(src="//placehold.it/300x280", alt="")

  section.about
    .wrapper
      .row
        .col.w12
          h2 Customisable
          p Synth meditation stumptown, mumblecore master cleanse fap before they sold out chambray. Selvage readymade tattooed, Brooklyn messenger bag Tumblr viral distillery narwhal gastropub beard kale chips shabby chic. Etsy wayfarers cold-pressed, tote bag tattooed church-key flannel artisan street art ennui food truck organic pop-up bespoke gentrify.
        .col.w12
          h2 Pricing
          p Synth meditation stumptown, mumblecore master cleanse fap before they sold out chambray. Selvage readymade tattooed, Brooklyn messenger bag Tumblr viral distillery narwhal gastropub beard kale chips shabby chic. Etsy wayfarers cold-pressed, tote bag tattooed church-key flannel artisan street art ennui food truck organic pop-up bespoke gentrify.

  section.hook
    .wrapper
      h2 Get Started
      .row
        .col.w8
          a.btn.primary Customize Now
        .col.w8
          a.btn Learn More
        .col.w8
          a.btn F A Q
