extends shared/layout

block meta
block title
  title Shop
block content
  .wrapper
    h1 Shop
    p We provide artists with the ability to sell their products.

    .row
      .col.w18
        ul
          li
            | Looks like nothing is here yet.
      .col.w6
        .panel
          a.btn.primary Customize your own
          a.btn.action Frequently Asked Questions






